<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>首次参保问题</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
<style>
ul { list-style:none; }
li {
	padding: 2% 2%;
	font-size: 90%;
	border-bottom: 1px solid #CCC;
}
</style>
<include file="Public:tanchuang" />
</head>

<body class="home">
<div id="app" style="background:#FFF;">
<div id="conttop">
<div class="conttop_div1" ><a href="javascript:history.go(-1);"style="color: white;"><</a></div>
<div class="conttop_divmiddle" style="text-align: center;"><span style="font-size: 130%;">首次参保问题</span></div>
<div class="conttop_div3"><span style="float:right;"  onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></span>
</div>

</div>
<include file="Public:tanchu" />
<div id="banner"><img src="{$Think.const.IMG}baofeijisuan2.jpg" width="100%"/></div>
<div id="bidu">
<ul>
<a href="{:U('Problem/xiangqing')}" style="color:black" ><li>同一个账号可以缴纳多少个参保人？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing2')}" style="color:black" ><li>如果不能补缴，那我以前缴纳的社保都作废了吗？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing3')}" style="color:black" ><li>是否可以一个月起缴？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing4')}" style="color:black" ><li>前程保产品服务是否有户籍性质限制？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing5')}" style="color:black" ><li>参保城市缴纳截点刚好在周末提交订单也可以吗？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing6')}" style="color:black" ><li>购买前程保产品服务需要签服务合同吗？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing7')}" style="color:black" ><li>是否可以通过前程保补缴社保？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing8')}" style="color:black" ><li>参保需要准备哪些材料？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<a href="{:U('Problem/xiangqing9')}" style="color:black" ><li>为什么我的公积金和社保不能分开缴纳？<span style="float:right;"><img src="{$Think.const.IMG}jiantou.jpg" /></span></li></a>
<li></li>
</ul>
</div>
</div>

</body>
</html>
