<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/content.css">
<link rel="stylesheet" type="text/css" href="css/base.css">
<style>
ul { list-style:none; }
li {
	padding: 2% 2%;
	font-size: 80%;
	border-bottom: 1px solid #CCC;
}
</style>

</head>

<body class="home">
<div id="app" style="background:#FFF;">
<!--<div id="header"><img src="image/zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">

<div style="margin:margin: 0% 35% 0 35%; text-align: center; color: #FFF; font-size: 120%;">首次参保问题</div>

</div>
<div id="banner"><img src="image/baofeijisuan2.jpg" width="100%"/></div>
<div id="bidu">
<ul>
<li>同一个账号可以缴纳多少个参保人？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>如果不能补缴，那我以前缴纳的社保都作废了吗？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>是否可以一个月起缴？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>前程保产品服务是否有户籍性质限制？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>参保城市缴纳截点刚好在周末提交订单也可以吗？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>购买前程保产品服务需要签服务合同吗？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>是否可以通过前程保补缴社保？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>参保需要准备哪些材料？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li>为什么我的公积金和社保不能分开缴纳？<span style="float:right;"><img src="image/jiantou.jpg" /></span></li>
<li></li>
</ul>
</div>
</div>

</body>
</html>
