<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="css/content.css">
<link rel="stylesheet" type="text/css" href="css/base.css">
<style>
ul { list-style:none; }
li {
	padding: 2% 2%;
	font-size: 80%;
	border-bottom: 1px solid #CCC;
}
</style>

</head>

<body class="home">
<div id="app" style="background:#FFF;">
<!--<div id="header"><img src="image/zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">

<div style="margin:margin: 0% 35% 0 35%; text-align: center; color: #FFF; font-size: 120%;">前程保退款</div>

</div>
<div id="banner"><img src="image/baofeijisuan2.jpg" width="100%"/></div>
<div id="bidu">
<ul>
<li>
<table width="100%" border="0">
<tr>
    <td width="12%" height="34"><img src="image/wenti_img1.jpg" /></td>
    <td width="88%">前程保如何退款?</td>
  </tr>
  <tr>
  <td colspan="2" height="5"><hr/></td>
  </tr>
  <tr>
    <td width="12%" height="63" valign="top"><img src="image/wenti_img2.jpg" /></td>
    <td width="88%">退款规则<br/><br/>

<p>（1）退款均不退服务费，且需用户承担退款时财务给你线下打款的转账成本（10元）和一定额度的支付成本（退款月份涉及保费的0.6%）；<br/><br/>

（2）若退款发起时，客服已对订单做派单处理，则该月的社保款不退，仅退未服务月的社保款；若退款发起时，客服还未对订单做派单处理，则可申请退还全部社保款；<br/><br/>

（3）因社保政策常变动，须等社保中心将您最后缴纳月实际产生的费用反馈后才可计算出应退费用，各地操作方式不同，反馈时间会有快慢，请您耐心等待哦！（例：购买8、9、10月社保，9月提出申请退10月社保，一般须等10月中旬收到9月实际缴纳的费用后才可退费）</p>

</td>
  </tr>
    <tr>
  <td colspan="2" height="5"><hr/></td>
  </tr>
  <tr>
    <td width="12%" height="34"><img src="image/wenti_img1.jpg" /></td>
    <td width="88%">如果买了3个月的套餐，中途有新单位缴纳了，该怎么办？</td>
  </tr>
  <tr>
  <td colspan="2" height="5"><hr/></td>
  </tr>
  <tr>
    <td width="12%" height="38" valign="top"><img src="image/wenti_img2.jpg" /></td>
    <td width="88%">可以在平台申请退款，退款服务费都不能退的哦，具体退款金额和月份，请详见平台显示。

</td>
  </tr>
</table>

</li>

</ul>
</div>
</div>

</body>
</html>
