<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>续保问题</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
<style>
ul { list-style:none; }
li {
	padding: 2% 2%;
	font-size: 90%;
	border-bottom: 1px solid #CCC;
}
</style>
<include file="Public:tanchuang" />
</head>

<body class="home">
<div id="app" style="background:#FFF;">
<!--<div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">
<div class="conttop_div1" ><a href="javascript:history.go(-1);"style="color: white;"><</a></div>
<div class="conttop_divmiddle" style="text-align: center;"><span style="font-size: 130%;">前程保续保</span></div>
<div class="conttop_div3"><span style="float:right;" onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></span>
</div>

</div>
<include file="Public:tanchu" />
<div id="banner"><img src="{$Think.const.IMG}baofeijisuan2.jpg" width="100%"/></div>
<div id="bidu">
<ul>
<li>
<table width="100%" border="0">
<tr>
    <td width="12%" height="34"><img src="{$Think.const.IMG}wenti_img1.jpg" /></td>
    <td width="88%">前程如何续保?</td>
  </tr>
  <tr>
  <td colspan="2" height="5"><hr/></td>
  </tr>
  <tr>
    <td width="12%" height="63" valign="top"><img src="{$Think.const.IMG}wenti_img2.jpg" /></td>
    <td width="88%">1.平台会在参保人服务终止日的前一个月，向投保人发起首次续保提醒，提醒以短信和站内信为主；<br/>
2.平台会在参保人服务终止日的前三天，向投保人再次发起续保提醒，提醒会以电话提醒为主；<br/>
3.需要续保的用户可以在“缴社保”中的“续保缴费”里选择需要续保的参保人信息，并进行费用结算；<br/>
4.续保只可选择缴纳套餐，缴纳月份则自动顺延，不可对社保和公积金的基数做更改；</td>
  </tr>
</table>

</li>

</ul>
</div>
</div>

</body>
</html>
