<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>我的前程保</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
</head>
<include file="Public:tanchuang" />
<body style="background: #fdb813;position:relative;font-size: 80%">
<div id="app">
<!--<div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">
<div class="conttop_div1"><img src="{$Think.const.IMG}wodeqianchengbao2.jpg" /></div>
<div id="shebao_jisuanqi"><img src="{$Think.const.IMG}wodeqianchengbao1.jpg" />
</div>
<div class="conttop_div3"><a style="float:right;" href="###" onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></a>
</div>

</div>
<header>
<!-- <div id="my_touxiang"><img src="{$Think.const.IMG}tu29241_3.jpg" /></div> -->
<!-- <font id="font">QC123456</font> -->
<!-- <div id="my_tubiao"><img src="{$Think.const.IMG}my_tubiao.png" /></div> -->
</header>
<!-- <div id="my_chanchengbao">
  <div id="my_chanchengbao_div1">余额 0.00元</div>
<div id="my_chanchengbao_div2">代金卷 0.00元</div>
</div> -->
<include file="Public:tanchu" />
<div id="shebao_jisuanqi_middle">

<form name="form1">
<a href="{:U('My/Mysetinfo')}" style="color: white"><div>&nbsp;&nbsp;&nbsp;用户名：{$Think.session.username}
<span><img src="{$Think.const.IMG}shebaojisuan4.png" width="35" height="37" style="width: 22px" /></span>
</div>
</a>
<a href="{:U('My/ycperson')}" style="color: white"><div>&nbsp;&nbsp;&nbsp;我的参保人
<span><img src="{$Think.const.IMG}shebaojisuan4.png" width="35" height="37" style="width: 22px" /></span>
</div>
</a>
<a href="{:U('My/order')}" style="color: white">
<div> &nbsp;&nbsp;&nbsp;我的订单
<span><img src="{$Think.const.IMG}shebaojisuan4.png" width="35" height="37" style="width: 22px" /></span>
</div>
</a>
<a href="{:U('Service/index')}" style="color: white"><div> &nbsp;&nbsp;&nbsp;服务大厅
<span><img src="{$Think.const.IMG}shebaojisuan4.png" width="35" height="37" style="width: 22px" /></span>
</div>
</a>
<a href="{:U('Service/about')}" style="color: white">
<div> &nbsp;&nbsp;&nbsp;关于
<span><img src="{$Think.const.IMG}shebaojisuan4.png" width="35" height="37" style="width: 22px" /></span>
</div>
</a>
</form>
</div>
<div id="my_chanchengbao_bottom"><img src="{$Think.const.IMG}shebao_img4.png" /></div>
</div>
<include file="Public:footer" />
</div>

</body>
</html>
