<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>账号设置</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
<style type="text/css">
    a:link,a:visited{
        color:black;
    }
</style>
</head>
<include file="Public:tanchuang" />
<body style="background: #fdb813;position:relative;font-size: 100%;">
<div id="app">
<!-- <div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div> -->
<div id="conttop">
<div class="conttop_div1" ><a href="javascript:history.go(-1);"style="color: white;"><</a></div>
<div class="conttop_divmiddle" style="text-align: center;"><span style="font-size: 130%;">账号设置</span></div>
<div class="conttop_div3"><a style="float:right;" href="###" onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></a>
</div>

</div>
<include file="Public:tanchu" />
<div id="zhanghao_content">
<ul>
<li style="background-color:#B0FF62;">账号信息
</li>
<li id="btn1">手机号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$user.tel}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('edittel')}">修改手机号</a></li>
    <div id="div1" style=" display:none; z-index:9999;">
<!-- 	<ul>
        <li style="text-align:center; padding:2%; color:#FFF; background-color:#FC0;">更换手机号</li>
	 	 <li> &nbsp;手机号 &nbsp;<input type="text" placeholder="请输入更换的手机号" /></li>
         <li> &nbsp;验证码 &nbsp;<input type="text" placeholder="请输入短信验证码" /> <input style="border-radius:5px; background-color:#FFF; color:#090; border:1px solid #090;" type="button" value="获取验证码" /></li>
       <li style="text-align:center;"><input type="button" style="border-radius:2px; padding:1% 6%; background-color:#F90; color:#FFF; border:1px solid #090;" value="保存"/></li>  
	 </ul> -->
     <script>
    var oBtn = document.getElementById('btn1');
    var oDiv = document.getElementById('div1');
    // oBtn.onclick=function(){
    //     oDiv.style.cssText = 'position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:10; background-color:#FFFFFF; display:block;';
    // };
</script>
	</div>
<li id="btn2"><a href="{:U('Manager/editpwd')}">修改密码</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li><a href="{:U('loginusername')}">登录用户名:{$user.username}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li style="background-color:#B0FF62;">基本信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<if condition="$tinfo != null">
<a href="{:U('editusername')}"><li>投保人姓名:{$tinfo.tname}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></a>
<a href="{:U('editemail')}"><li>联系邮箱:{$tinfo.email}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li></a>
<a href="{:U('editaddress')}"><li>联系地址:{$area[0][name]}{$area[1][name]}{$area[2][name]}{$tinfo.detailarea}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
</a>
<li><a href="{:U('erweima')}">我的二维码</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<else />
<li><a href="{:U('Tinfo/addtinfo')}">请添加用户信息</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
</if>
</ul>
</div>
<div id="zhanghao_tuichu">
    <a href="{:U('Manager/loginout')}">
       <input style="padding:1% 6%; background-color:#FF9; color:#0C0;" type="button" value="退出登录"/>
     </a>
 </div>
<include file="Public:footer" />
</div>
</body>
</html>
