<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>订单详情</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
</head>
<include file="Public:tanchuang" />

<body>
<div id="app" style="background:#DADADA;position:relative;font-size: 100%">
<!--<div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">
<div class="conttop_div1" ><a href="javascript:history.go(-1);"style="color: white"><</a></div>
<div class="conttop_divmiddle" style="text-align: center;"><span style="font-size: 130%;">订单详情</span></div>
<div class="conttop_div3"><a style="float:right;" href="###" onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></a>
</div>
</div>
<include file="Public:tanchu" />
<div id="dingdan_top"> 
   &nbsp;&nbsp;&nbsp;订单号：{$detailinfo[0][order_sn]}
      <if condition="$detailinfo[0][order_status]==1">
           <span style="float:right;width: 15%">已支付 &nbsp;&nbsp;&nbsp;</span>
   	   <else />
   	     	 <span style="float:right;width: 15%"">待支付 &nbsp;&nbsp;&nbsp;</span>
   	   </if>
 </div>
<div id="dingdan_content">
<ul>
	<li>参保人：{$detailinfo[0].cname}{$detailinfo[0].idnumber}</li>
	<li>户口信息：{$detailinfo[0].province},{$detailinfo[0].citys},{$detailinfo[0].county}/<if condition="$detailinfo[0][htype] eq 0">城市<else />农村</if></li>
	<li style="border-bottom:1px solid #CCC;">参保地	：{$detailinfo[0].city}</li>
	<li>社保保费：2017.02.02—-2017.02.04 <span style="float:right;">{$detailinfo[0].chargecount}</span></li>
	<li style="border-bottom:1px solid #CCC;">服务费 <span style="float:right;">{$detailinfo[0].servicemoney}</span></li>
	<li style="border-bottom:2px solid #CCC;">实付款：<span style="float:right;">{$detailinfo[0].allcount}</span></li>
	<li>提交时间：{$detailinfo[0].ordertime|date="Y-m-d H:i:s",###}</li>
	<li style="text-align:center;">客服热线：400-66613331</li>
</ul>
</div>
</div>
</body>
</html>
