<style type="text/css">
	a{
		color:black;
	}
</style>
<div id="box4" style="display:none; width:100px; background:#fdb813; margin:1% 2%; right:0px; position:absolute; z-index:9999; padding-bottom:1%;">
<ul>
<a href="{:U('Index/index')}">
   <li style="border-bottom:1px solid #CCC;"><img style="float:left; padding:0 10px 0 10px;" src="{$Think.const.IMG}home.png" />首页</li>
</a>
<a href="{:U('My/myinfo')}">
   <li style="border-bottom:1px solid #CCC;"><img style="float:left; padding:0 10px 0 10px;" src="{$Think.const.IMG}news.png" />我的前程保</li>
</a>
<a href="{:U('Service/index')}">
   <li style="border-bottom:1px solid #CCC;"><img style="float:left; padding:0 10px 0 10px;" src="{$Think.const.IMG}fuwubiaozhi.png" />服务大厅</li>
</a>
</ul>
</div>