<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
</head>

<body>
<div id="app">
<!--<div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">
<div class="conttop_div1"><img src="{$Think.const.IMG}index_img1.jpg" /></div>
<div class="conttop_div2"><img src="{$Think.const.IMG}inddex_img.jpg" /></div>
<div class="conttop_div3"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></div>
</div>
<div id="banner"><img src="{$Think.const.IMG}index_img2.jpg" width="100%" height="191" /></div>
<div id="index_main">
<div id="index_main_img1">
   <a href="{:U('Social/social_buy')}"><img src="{$Think.const.IMG}index_img6.jpg" /></a>
</div>
<div id="index_main_img2"> 
    <a href="{:U('Social/social_buy')}"><img src="{$Think.const.IMG}index_img3.jpg" /></a>
</div>
<div id="index_main_img3">
   <a href="{:U('Socialfare/jisuan')}"><img src="{$Think.const.IMG}index_img4.jpg" /></a>
</div>
<div id="index_main_img4"><img src="{$Think.const.IMG}index_img4.jpg" /></div>

</div>
<div id="index_main_middle">
<div class="index_main_middle_div">
<a href="{:U('Search/index')}">
<img src="{$Think.const.IMG}index_img7.jpg" />
</a>
</div> 
<div class="index_main_middle_div">
<a href="{:U('Search/index')}">
<img src="{$Think.const.IMG}index_img9.jpg" height="116" />
</a>
</div>
</div>
  <div id="banner"><img src="{$Think.const.IMG}index_img8.jpg" width="100%" /></div>
  <p><li style="font-size:1.5em; color:#000; margin:1em;">职工怎样缴纳养老保险费？</li></p>
</div>
<include file="Public:footer" />
</body>
</html>
