<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>保费明细</title>
<style>
div { width:100%; height:auto; overflow:hidden; }
ul { list-style:none; font-size:70%; } 
li { padding:3% 2%; }
</style>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">



<script type="text/javascript">
//===========================点击展开关闭效果====================================
function openShutManager(oSourceObj,oTargetObj,shutAble,oOpenTip,oShutTip){
var sourceObj = typeof oSourceObj == "string" ? document.getElementById(oSourceObj) : oSourceObj;
var targetObj = typeof oTargetObj == "string" ? document.getElementById(oTargetObj) : oTargetObj;
var openTip = oOpenTip || "";
var shutTip = oShutTip || "";
if(targetObj.style.display!="none"){
   if(shutAble) return;
   targetObj.style.display="none";
   if(openTip  &&  shutTip){
    sourceObj.innerHTML = shutTip; 
   }
} else {
   targetObj.style.display="block";
   if(openTip  &&  shutTip){
    sourceObj.innerHTML = openTip; 
   }
}
}
</script>
</head>
<include file="Public:tanchuang" />
<body>
<div id="app" style="background:#DADADA;">
<!--<div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">
<div class="conttop_div1" ><a href="javascript:history.go(-1);"style="color: white;"><</a></div>
<div class="conttop_divmiddle" align="center"><span style="color:white;font-size: 130%;">保费明细</span></div>
<!-- <div id="shebao_title"><img src="{$Think.const.IMG}xinzengcanbaoren.jpg" /></div> -->
<div class="conttop_div3"><a style="float:right;" href="###" onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></a>
</div>
</div>

<div id="box4" style="display:none; width:90px; background:#fdb813; margin:1% 2%; right:0px; position:absolute; z-index:9999; padding-bottom:1%;">
<ul>
<li style="border-bottom:1px solid #CCC;"><img style="float:left; padding:0 10px 0 10px;" src="{$Think.const.IMG}home.png" />首页</li>
<li style="border-bottom:1px solid #CCC;"><img style="float:left; padding:0 10px 0 10px;" src="{$Think.const.IMG}news.png" />消息</li>
<li style="border-bottom:1px solid #CCC;"><img style="float:left; padding:0 10px 0 10px;" src="{$Think.const.IMG}fuwubiaozhi.png" />服务大厅</li>
</ul>
</div>
<div id="baofeimingxi_div">
<ul>
<li style="border-bottom:1px solid #CCC;">参保城市<span style="float:right;">青岛（截点日：每月4号）</span></li>
<li style="border-bottom:1px solid #CCC;">户口信息<span style="float:right;">山东青岛 农村</span></li>
<li style="text-align:center;"><span style="font-size: 180%;">&yen;4294.17</span><br/>
  2017-03至2017-05保费合计</li>
</ul>
</div>
<div id="baofeimingxi2" style="padding:0% 0;">
<div id="baofeimingxi2_div" style="padding:2% 5%;">社保 <span style="float: right; color: #0C3; font-weight: bold;">&yen;3820.17</span></div>
<div id="baofeimingxi2_div" style="padding:2% 5%; border:0px;">公积金 <span style="float: right; color: #0C3; font-weight: bold;">&yen;474</span></div>
</div>
<form name="">
<div id="baofeimingxi_bottom" style="margin-bottom:3px;">
<ul>
<li style="border-bottom:1px solid #CCC;">社保费用明细</li>
<li>2017-03至2017-05<span style="float:right;">&yen;3820.17 &nbsp;></span> </li>
</ul>
</div>
<div id="baofeimingxi_bottom" style="margin-bottom:3px;">
<ul>
<li style="border-bottom:1px solid #CCC;">公积金费用明细</li>
<li style="border-bottom:1px solid #CCC;">2017-03至2017-05<span style="float:right;">&yen;474 &nbsp;></span> </li>
<!--<li style="border-bottom:1px solid #CCC;">2017-03至2017-05<span style="float:right;">&yen;474 &nbsp;></span> </li>
<li style="border-bottom:1px solid #CCC;">2017-03至2017-05<span style="float:right;">&yen;474 &nbsp;></span> </li> -->
</ul>
</div>
<p style="padding: 1% 0 15% 0; font-size: 80%;">注：以上费用均不含服务费
<p style="text-align:center; "><input style="padding:2% 10%; background:#fdb813; border-radius:5px; border:0px;" type="button" name="" value="立即参保" /></p>
</p>
</form>
</div>
</body>
</html>
