<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>投保人信息设置</title>
<style>
div { width:100%; height:auto; overflow:hidden; margin:0 auto; }
ul { list-style:none; font-size:70%; } 
li { padding:1% 0; }
</style>
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}content.css">
<link rel="stylesheet" type="text/css" href="{$Think.const.CSS}base.css">
<include file="Public:tanchuang" />

</head>

<body style="position:relative;>
<div id="app" style="background:#DADADA;">
<!--<div id="header"><img src="{$Think.const.IMG}zhuce_img1.jpg" width="100%"  height="40" /></div>-->
<div id="conttop">
<div class="conttop_div1"><</div>
<div id="shezhi_title">投保人信息设置</div>
<div class="conttop_div3"><a style="float:right;" href="###" onclick="openShutManager(this,'box4')"><img src="{$Think.const.IMG}zhuce_img4.jpg" /></a>
</div>

</div>
<include file="Public:tanchu" />
<p style=" padding:2% 2%; font-size: 70%;">下单成功后服务人员与您确认参保信息，以下信息将作为您的联系方式，建议您填完整：</p>
<form method="post" action="{:U('savetinfo')}">
<table style="background:#FFF; font-size:70%; padding: 0% 2%;" width="100%" border="0">
  <tr>
    <td width="50%" height="35">投保人姓名<span style="color:#F00;">*</span></td>
    <td width="50%" align="right"><input style="width:50px; text-align:right; border:0px;margin-right: 8px" type="text" name="tname" value="{$tinfo['tname']}"/></td>
  </tr>
      <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
  <tr>
    <td  height="35">投保人电话</td>
    <td align="right">{$tinfo['tel']}</td>
  </tr>
      <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
  <tr>
    <td height="35">联系邮箱<span style="color:#F00;">*</span></td>
    <td align="right"><input style="width:130px; text-align:right; border:0px;margin-right: 12px" type="text" name="email" value="{$tinfo['email']}"/></td>
  </tr>
    <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
   <tr>
   <ul style="list-style: none; margin:0; padding: 0;">
     <td colspan="2" height="20" style="margin: 0;padding: 0">
    <a href="{:U('editaddress')}" style="color: black"><li style="list-style: none">投保人信息<span style="color:#F00;">*</span> <span style="float: right;">{$area[0]['name']}{$area[1]['name']}{$area[2]['name']} &nbsp;></span></li>
    </a>
   </td></ul>
  </tr>
     <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
  <tr>
    <td height="35">详细地址<span style="color:#F00;">*</span></td>
    <td align="right"><input style="width:120px; text-align:right; border:0px;margin-right: 5px" type="text" name="detailarea" value="{$tinfo['detailarea']}"/></td>
  </tr>
      <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
  <tr>
    <td height="35">紧急联系人姓名</td>
    <td align="right"><input style="width:120px; text-align:right; margin-right: 5px" type="text" name="jname" value="{$tinfo['jname']}"/></td>
  </tr>
      <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
    <tr>
    <td height="35">紧急联系人电话</td>
    <td align="right"><input style="width:120px; text-align:right; margin-right: 5px" type="text" name="jtel" value="{$tinfo['jtel']}"/></td>
  </tr>
      <tr>
    <td height="2" colspan="2"><hr/></td>
    </tr>
</table>
<input type="hidden" name="cid" value="{$cid}"></input>
<p style="text-align:center; padding:30px 0 25px 0; background:#FFF; font-size: 90%;">
<a href="{:U('Social/orderinfo',array('cid' => $cid))}"><input style="background:#F90; padding:10px 50px; " type="button" name="quxiao" value="取消"/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
<input style="background:#F90; padding:10px 50px; " type="submit" value="确认"/></p>
</form>
</div>
</body>
</html>
