<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="__CONTROLLER__/editperson" method="post" enctype="multipart/form-data">
		姓名：<input type="text" name="cname" value="{$cinfo['cname']}"></input><br/>
		身份证号码：<input type="text" name="idCard" value="{$cinfo['idnumber']}"></input><br/>
		手机号码：<input type="text" name="mobile" value="{$cinfo['mphone']}"></input><br/>
		户口地址：<input type="text" name="city" value="{$cinfo['city']}"></input><br/>
		农村：<input <if condition="$cinfo['htype']  eq 1 ">checked="true"</if>type="radio" name="htype" value="1"></input><br/>
		城市：<input <if condition="$cinfo['htype']  eq 0 ">checked="true"</if>type="radio" name="htype" value="0"></input><br/>
		身份证正面：<input type="file" name="pics_tu[]">{$Think.const.SITE_URL}{$cinfo['zpic']|substr=###,2}</input>
		身份证反面：<input type="file" name="pics_tu[]">{$Think.const.SITE_URL}{$cinfo['fpic']|substr=###,2}</input>
		<input type="hidden" name="id" value="{$cinfo['id']}"></input>
		<input type="submit" value="保存"></input>
	</form>
</body>
</html>